USE [master]
GO
/****** Object:  Database [Larionov_DB]    Script Date: 15.11.2023 17:16:07 ******/
CREATE DATABASE [Larionov_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Larionov_DB', FILENAME = N'C:\Users\SASHA\Larionov_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Larionov_DB_log', FILENAME = N'C:\Users\SASHA\Larionov_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Larionov_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Larionov_DB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15.11.2023 17:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 15.11.2023 17:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ProductID] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [money] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Categories] FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Categories]
GO
USE [master]
GO
